@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

/* @plugin "tailwindcss-animate"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-form {
  margin-top: 20px;
  padding: 20px;
}

fieldset input {
  margin-top: 6px;
  padding: 8px;
}
.buttons {
  margin-top: 12px;
}

html,
body {
  height: 100%;
  width: 100%;
}

.navbar {
  padding: 0px 32px;
}


